/* styles.css */
.btn-purple {
    background-color: purple;
    color: white;
}

.btn-purple:hover {
    background-color: darkviolet;
    color: white;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.25rem;
}
